<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<bean id="customerService" class="com.spring.aop.advice.CustomerService">
		<property name="name" value="Raghu Natha" />
		<property name="url" value="http://www.mkyong.com" />
	</bean>
	
	<bean id="hijackBeforeMethodBean" class="com.spring.aop.advice.HijackBeforeMethod" />
	<bean id="hijackAfterMethodBean" class="com.spring.aop.advice.HijackAfterMethod" />
	<bean id="hijackExceptionBean" class="com.spring.aop.advice.HijackThrowException" />
	<bean id="hijackAroundMethodBean" class="com.spring.aop.advice.HijackAroundMethod" />
 
	<bean id="customerServiceProxy" 
                 class="org.springframework.aop.framework.ProxyFactoryBean">
 
		<property name="target" ref="customerService" />
 
		<property name="interceptorNames">
			<list>
				<value>hijackBeforeMethodBean</value>
			</list>
		</property>
	</bean>
 
</beans>