<?xml version ="1.0" encoding ="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
				xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance"
				xsi:schemaLocation ="http://www.springframework.org/schema/beans
														http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
				
				<bean id ="customerImpl" class ="com.java.spring.aop.CustomerImpl"/>
				<bean id ="cafeOwner" class ="com.java.spring.aop.CafeOwner"/>
				<bean id ="logging" class="com.java.spring.aop.LoggingAdvice"></bean>
				<bean id ="internetAdvice" class ="com.java.spring.aop.InternetAdvice">
					<property name ="cafeOwner" ref ="cafeOwner"/>
				</bean>

				<bean id ="orderPrintsAdvice" class ="com.java.spring.aop.OrderPrintsAdvice">
					<property name ="cafeOwner" ref ="cafeOwner"/>
				</bean>

				<bean id ="cafeOwnerBeforeAndAfterAdvice" class ="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
					<property name ="advice">
					<ref local ="internetAdvice"/>
						
					</property>
					<property name ="pattern">
						<value>.*browse</value>
					</property>
				</bean>
				
				<bean id ="orderPrintsAdvisor" class ="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
					<property name ="advice">
						<ref local ="orderPrintsAdvice"/>
							
					</property>
					<property name ="pattern">
						<value>.*orderPrints</value>
					</property>
				</bean>
				
				<bean id="theLogger" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
					<property name="advice">
						<ref local="logging"/>
					</property>
					<property name="patterns">
						<value>.*</value>
					</property>
				</bean>	
				
				<bean id ="customerProxy" class ="org.springframework.aop.framework.ProxyFactoryBean">
					<property name ="target">
						<ref local ="customerImpl"/>
					</property>
					<property name ="proxyInterfaces">
						<value>com.java.spring.aop.Customer</value>
					</property>
					<property name ="interceptorNames">
						<list>
							<value>cafeOwnerBeforeAndAfterAdvice</value>
							<value>orderPrintsAdvisor</value>
							<value>theLogger</value> 
						</list>
					</property>
				</bean>										
				
				
</beans>														