<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="customerBean" class="com.spring.wiring.Customer" autowire="byName"/>
	
	<bean id="addressObject" class="com.spring.wiring.Address" >
		<property name="city" value="Irving" />
	</bean>	
	
	<bean id="addressObj" class="com.spring.wiring.Address" >
		<property name="city" value="Dallas" />
	</bean>		

</beans>